.toCart {
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 3px;
    cursor: pointer;
}

.toCart:hover {
    background-color: #d9d9d9;
}

.animation {
    animation: 1s linear 0.2s infinite alternate to-cart
}

@keyframes to-cart {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100px);
        opacity: 0;
    }
}