.cart {
    display: flex;
    justify-content: center;
}

.itemsGrid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
}

.count {
    text-align: center;
    grid-column-start: span 2;
}