.selectMaterial {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(4, 130px);
}

.settings {
    display: grid;
    gap: 25px;
    grid-template-rows: repeat(3, max-content);
    justify-items: center;
}

.orderBy {
    display: flex;
    flex-direction: column;
}

.mainSelect {
    grid-column-start: span 3;
}

.mainSelect label {
    display: block;
}
