.form {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: max-content;
}

.size {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-around;
}
.size > div {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
}

.error {
    height: 21px;
    color: red;
}

.pipeFrame {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-around;
}

.material {
    display: grid;
}